<h1>Log in!</h1>

<% flash[:errors] && flash[:errors].each do |error| %>
  <%= error %>
<% end %>

<form class="" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_email">Email:</label>
  <input type="text" name="user[email]" value="<%=params[:email]%>" id="user_email">
  <br>
  <label for="user_password">Password:</label>
  <input type="password" name="user[password]" id="user_password">
  <br>
  <input type="submit" value="Log in!">

<!-- <input type="hidden"
   name="authenticity_token"
   value="<%= form_authenticity_token %>"> -->
 </form>
