<h1>Create a new album!</h1>
<% flash[:errors] && flash[:errors].each do |error| %>
<%= error %>
<% end %>

<form class="" action=" <%= albums_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="album_name">Name:</label>
  <input type="text" name="album[name]" value="<%= params[:name] %>" id="album_name">
  <br>
  <label for="album_band_id">Band:</label>
  <select class="" name="album[band_id]" id="album_band_id">
    <% @bands.each do |band| %>
    <option selected="<%= "selected" if band.id == params[:band_id] %>"value="<%= band.id %>"><%= band.name %></option>
    <% end %>
  </select>
  <br>
  <input type="radio" name="album[album_type]" value="live" id="album_type_live">
  <label for="album_type_live">Live album</label>
  <br>
  <input type="radio" name="album[album_type]" value="studio" id="album_type_studio">
  <label for="album_type_studio">Studio album</label>
  <br>
  <input type="submit" name="" value="Create!">
</form>
